body{
    background-color:rgb(24, 23, 23);
}
.box{
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 600px;
    box-shadow: 2px 3px 6px 2px blue;
    border-radius: 25px;
}